body{
   background-color: #DCDCDC;

}
#main {
  margin: auto;
  border: 100px;
  width: 80%;
}
h1{
    text-align: center;
    background-color: #F5F5F5;
    background-position: right top;
    background-attachment: fixed;
    background-size:auto;
}

 #quote{
        text-align: center;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  width: 25%;
   margin-left: auto;
  margin-right: auto;

}

a {
  color: #191970;
}
a:visited {
  color: #FF0000;
}

